<style>
div.hover-language-box {
	display:flex;max-height:10rem;
	overflow:auto;
	z-index:10;
	position:absolute;
	margin-top:2.4rem;
	white-space:nowrap;
	padding-right:1rem;
	background-color:white;
}
</style>

<template id='language-typeahead-template'>
<div style='margin-left:0.5rem;display:flex;flex-direction:column;'>
	<div>
		<input v-model='typeahead' class='form-control' @focus='show_box=true' @blur='setTimeout(function(){show_box=false},200)' tt_placeholder='search_languages' />
	</div>
	<div v-if='show_box' class="list-group list-group-flush hover-language-box">
		<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href='#' v-for='(name,code) in languages' v-if='doesLanguageMatchTypeahead(code)' @click.prevent='updateChoice(code)' style='padding:1px;margin-right:0.2rem;'>
			{{name}}
			<span class="badge badge-primary badge-pill" style="font-weight:normal;">{{code}}</span>
		</a>
	</div>
</div>
</template>



<script>
'use strict';

Vue.component ( 'language-typeahead' , {
	props : [ 'existing' ] ,
	data : function () { return { typeahead:'' , choice:'' , show_box:false } } ,
    created : function () {
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
    	doesLanguageMatchTypeahead : function ( code ) {
    		var me = this ;
    		if ( me.typeahead == '' ) return true ; // Everything matches blank
    		var name = languages[code] ;
    		var r = RegExp ( '^' + me.typeahead , 'i' ) ;
    		if ( r.test(code) ) return true ;
    		if ( r.test(name) ) return true ;
    		return false ;
    	} ,
    	updateChoice : function ( code ) {
    		this.$emit('add-language',{code:code}) ;
    	}
    } ,
    template:'#language-typeahead-template'
} ) ;

</script>
