<template id='main-page-template'>
<div class='container'>
	<h1 tt='toolname'></h1>
	<p class="lead" tt='lead'></p>
	<p style='font-weight:bold;font-size:18pt'>
		<router-link to='/top' tt='top_pages'></router-link>
	</p>
	<h2 tt='examples'></h2>
	<ul class="list-group">
		<li class="list-group-item"><router-link to='/top/labels/cy?present=eu&autorun=1' tt='eu_not_cy'></router-link></li>
		<li class="list-group-item"><router-link to='/top/labels/cy?present=eu&mode=game&autorun=1' tt='eu_not_cy_game'></router-link></li>
		<li class="list-group-item"><router-link to='/top/labels/de?sparql=SELECT %3Fq { %3Fq wdt%3AP31 wd%3AQ4915012 }&autorun=1' tt='de_pathway'></router-link></li>
	</ul>
</div>
</template>

<script>
'use strict';

let MainPage = Vue.extend ( {
    props : [] ,
    data : function () { return {} } ,
    created : function () {} ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
    } ,
    template : '#main-page-template'
} ) ;