<style>
.list-box-constraint {
	overflow:auto;
	font-size:9pt;
	padding-right:1rem;
}
</style>

<template id='aggregate-labels-template'>
<ul class="list-group">
	<li class="list-group-item d-flex justify-content-between align-items-center" v-for='al in labels' style='padding:2px'>
		<span style='mr-1'>{{al.label}}</span>
		<span class="badge badge-light badge-pill" style='font-weight:normal;'>({{al.count}})</span>
	</li>
</ul>
</template>

<template id='aggregate-descriptions-template'>
<ul v-if='typeof i!="undefined" && typeof i.raw!="undefined"' class="list-group">
	<li v-for='desc in (i.raw.descriptions||[])' :class="getDescriptionClasses(desc)" style='padding:2px'>
		<span style='min-width:2rem;display:inline-block;'>{{desc.language}}</span>
		<span>{{desc.value}}</span>
	</li>
</ul>
</template>

<template id='aggregate-sitelinks-template'>
<ul v-if='typeof i!="undefined" && typeof i.raw!="undefined"' class="list-group">
	<li v-for='page in (i.raw.sitelinks||[])' :class="getSitelinksClasses(page)" style='padding:2px'>
		<span style='min-width:3rem;display:inline-block;'>{{page.site.replace(/wiki$/,'')}}</span>
		<span>
			<a target='_blank' class='wikipedia' :href='getLink(page)'>{{page.title}}</a>
		</span>
	</li>
</ul>
</template>

<template id='top-page-template'>
<div v-if='is_ready' class='container'>
	<div style='display:flex;flex-direction:row;' class='mt-2 pb-2' v-if='mode!="game" || !hide_header_in_game_mode'>
		<div style='display:flex;align-items:baseline;white-space:nowrap'>
			<span tt='type' style='margin-right:0.5rem'></span>
			<select v-model='type' class="custom-select" @change='onChangeStuff'>
				<option value='labels' tt='labels'></option>
				<option value='descriptions' tt='descriptions'></option>
				<option value='sites' tt='sites'></option>
			</select>
		</div>

		<div class='border-left ml-2 pl-2' style='display:flex;align-items:baseline;flex-direction:column;'>
			<div tt='for_languages'></div>
			<div v-for='l in langs' style='margin-left:0.5rem;'>
				{{languages[l]}} [{{l}}]
				<a href='#' @click.prevent='removeLanguage(langs,l)'><b><span aria-hidden="true">&times;</span></b></a>
			</div>
			<div>
				<language-typeahead :existing='langs' :key='langs.join(",")'  @add-language='addLanguage(langs,$event)'></language-typeahead>
			</div>
		</div>

		<div class='border-left ml-2 pl-2' style='display:flex;align-items:baseline;flex-direction:column;'>
			<div tt='with_x_in' :tt1='type_label'></div>
			<div v-for='l in langs_present' style='margin-left:0.5rem;'>
				{{languages[l]}} [{{l}}]
				<a href='#' @click.prevent='removeLanguage(langs_present,l)'><b><span aria-hidden="true">&times;</span></b></a>
			</div>
			<div>
				<language-typeahead :existing='langs_present' :key='langs_present.join(",")'  @add-language='addLanguage(langs_present,$event)'></language-typeahead>
			</div>
		</div>

		<div class='border-left ml-2 pl-2' style='display:flex;align-items:baseline;flex-direction:column;'>
			<div v-if='mode=="top"' style='display:flex;align-items:baseline;white-space:nowrap'>
				<span tt='sort_by' style='margin-right:0.5rem'></span>
				<select v-model='sort_by' class="custom-select" @change='onChangeStuff'>
					<option value='score' tt='score'></option>
					<option value='claims' tt='claims'></option>
					<option value='ext_ids' tt='ext_ids'></option>
					<option value='sitelinks' tt='sitelinks'></option>
				</select>
			</div>
			<div v-if='mode=="top"' class='mt-1'>
				<span tt='max_results' style='margin-right:0.5rem'></span>
				<select v-model='max_results' class="custom-select" style="width:auto" @change='onChangeStuff'>
					<option value='50'>50</option>
					<option value='100'>100</option>
					<option value='250'>250</option>
					<option value='500'>500</option>
				</select>
			</div>
			<div class='mt-1'>
				<label>
					<input type='checkbox' v-model='show_untranslatables' @change='onChangeStuff' />
					<span tt='show_untranslatables'></span>
				</label>
			</div>
		</div>

	</div>
	<div class='mt-2 pt-2 border-top' style='display:flex;flex-direction:row;' v-if='mode!="game" || !hide_header_in_game_mode'>
		<div style='white-space:nowrap;'>
			<a href='https://query.wikidata.org' target='_blank' class='wikidata' tt='query'></a>
		</div>
		<div class='ml-2' style='width:100%'>
			<textarea class='form-control' rows=3 style='width:100%' v-model='sparql' tt_placeholder='ph_query' @change='onChangeStuff'></textarea>
		</div>
	</div>
	<div class='mt-2 pt-2'>
		<button :disabled='langs.length==0' class='btn btn-outline-primary mr-2' tt='run' @click='runQuery' accesskey='r'></button>
		<label><input type='radio' v-model='mode' value='top' @change='onChangeStuff' />&nbsp;<span tt='mode_top'></label>
		<label><input type='radio' v-model='mode' value='game' @change='onChangeStuff' />&nbsp;<span tt='mode_game'></label>

		<div style='float:right;' v-if='mode=="game"'>
			<button class='btn btn-outline-secondary' @click='hide_header_in_game_mode=!hide_header_in_game_mode'>
				<span v-if="hide_header_in_game_mode" tt='show_header'></span>
				<span v-else tt='hide_header'></span>
			</button>
		</div>
	</div>
	<div class='mt-2 pt-2 border-top'>
		<div v-if='has_run && results.length>0'>
			<div v-if='mode=="game"' style="display:flex;flex-direction:column;">

				<div v-for='r in results'>
					<div class='mb-2' style='display:flex;flex-direction:row;'>
						<div>
							<h1>
								<wd-link :item='"Q"+r.q' :label='"Q"+r.q' :wd='wd_temp'></wd-link>
							</h1>
							<div v-if='typeof r.p31!="undefined"'>
								<wd-link :item='"Q"+r.p31' :wd='wd_temp'></wd-link>
							</div>
						</div>
						<div class='ml-5'>
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center" style='padding:2px'
									v-for='(key,label) in {claims:"claims",ext_ids:"identifiers",sites:"sitelinks",score:"score"}'>
									<span style='mr-1' :tt='label'></span>
									<span class="badge badge-light badge-pill" style='font-weight:normal;'>({{r[key]}})</span>
								</li>
							</ul>
						</div>
					</div>

					<div style='min-width:15rem;'>
						<div v-if='widar.is_logged_in && (type=="labels"||type=="descriptions")'>
							<div v-for='(lo,lang) in new_labels["Q"+r.q]'>
								<div class='input-group'>
									<div class="input-group-prepend">
										<div class="input-group-text">{{lang}}</div>
									</div>
									<input :class='"game-input-box form-control "+(lo.done?"form-control-plaintext":"form-control-sm")' :readonly='lo.done' type='text' v-model='lo.label' @keyup.enter='setLabel("Q"+r.q,lang)' />
									<div v-if='!lo.done' class="input-group-append">
										<button v-if='lo.label!=""' class="btn btn-outline-primary" type="button" @click.prevent='setLabel("Q"+r.q,lang)'>✓</button>
									</div>
								</div>
							</div>
						</div>
						<div v-else tt='log_into_widar' style='font-size:8pt;'></div>
					</div>

					<div style='display:flex;flex-direction:row;flex-wrap:wrap;' class='mt-2'>
						<div>
							<h5 tt='labels'></h5>
							<aggregate-labels :labels='alt_labels["Q"+r.q]'></aggregate-labels>
						</div>
						<div class='ml-2' v-if='typeof wd_temp.getItem("Q"+r.q) != "undefined"'>
							<h5 tt='descriptions'></h5>
							<aggregate-descriptions :i='wd_temp.getItem("Q"+r.q)' :langs='langs' :langs_present='langs_present'></aggregate-descriptions>
						</div>
						<div class='ml-2' v-if='typeof wd_temp.getItem("Q"+r.q) != "undefined"'>
							<h5 tt='sites'></h5>
							<aggregate-sitelinks :i='wd_temp.getItem("Q"+r.q)' :langs='langs' :langs_present='langs_present'></aggregate-sitelinks>
						</div>
					</div>
				</div>

			</div>
			<div v-else>

				<table class='table table-striped table-condensed'>
					<theader>
						<tr>
							<th tt='item_labels'></th>
							<th tt='labels'></th>
							<th tt='descriptions'></th>
							<th tt='types'></th>
						</tr>
					</theader>
					<tbody>
						<tr v-for='r in results'>
							<td style='min-width:15rem;'>
								<div><wd-link :item='"Q"+r.q' :label='"Q"+r.q' :wd='wd_temp'></wd-link></div>
								<div v-if='widar.is_logged_in && (type=="labels"||type=="descriptions")'>
									<div v-for='(lo,lang) in new_labels["Q"+r.q]'>
										<div class='input-group'>
											<div class="input-group-prepend">
												<div class="input-group-text">{{lang}}</div>
											</div>
											<input :class='"form-control "+(lo.done?"form-control-plaintext":"form-control-sm")' :readonly='lo.done' type='text' v-model='lo.label' @keyup.enter='setLabel("Q"+r.q,lang)' />
											<div v-if='!lo.done' class="input-group-append">
												<button v-if='lo.label!=""' class="btn btn-outline-primary" type="button" @click.prevent='setLabel("Q"+r.q,lang)'>✓</button>
											</div>
										</div>
									</div>
								</div>
								<div v-else tt='log_into_widar' style='font-size:8pt;'></div>
							</td>
							<td>
								<div :style='"max-height:"+(5+langs.length*2)+"rem;"' class='list-box-constraint'>
									<aggregate-labels :labels='alt_labels["Q"+r.q]'></aggregate-labels>
								</div>
							</td>
							<td>
								<div :style='"max-height:"+(5+langs.length*2)+"rem;"' class='list-box-constraint'>
									<aggregate-descriptions :i='wd_temp.getItem("Q"+r.q)' :langs='langs' :langs_present='langs_present'></aggregate-descriptions>
								</div>
							</td>
							<td style='font-size:9pt;min-width:10rem;'>
								<wd-link v-if='typeof r.p31!="undefined"' :item='"Q"+r.p31' :wd='wd_temp'></wd-link>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<div v-else>
			<i>{{status}}</i>
		</div>
	</div>
</div>
</template>

<script>
'use strict';


Vue.component ( 'aggregate-labels' , {
	props : [ 'labels' ] ,
    template:'#aggregate-labels-template'
} ) ;

Vue.component ( 'aggregate-descriptions' , {
	props : [ 'i' , 'langs' , 'langs_present' ] ,
    methods : {
    	getDescriptionClasses : function ( desc ) {
    		var me = this ;
    		let ret = 'list-group-item list-group-item-action' ;
    		if ( $.inArray(desc.language,me.langs) != -1 ) ret += ' list-group-item-primary' ;
    		if ( $.inArray(desc.language,me.langs_present) != -1 ) ret += ' list-group-item-success' ;
    		return ret ;
    	} ,
    } ,
    template:'#aggregate-descriptions-template'
} ) ;

Vue.component ( 'aggregate-sitelinks' , {
	props : [ 'i' , 'langs' , 'langs_present' ] ,
    methods : {
    	getLink : function ( page ) {
    		var me = this ;
    		let m = page.site.match ( /^(.+)(wik.*)$/ ) ;
    		if ( m === null ) return '' ;
    		let server = '' ;
    		if ( m[2] == 'wiki' ) {
    			if ( m[1] == 'commons' ) server = 'commons.wikimedia.org' ;
    			else server = m[1]+'.wikipedia.org' ;
    		} else {
    			server = m[1]+'.'+m[2]+'.org' ;
    		}
    		if ( server != '' ) return 'https://'+server.replace(/_/g,'-')+'/wiki/'+encodeURIComponent(page.title.replace(/ /g,'_')) ;
    		return '' ;
    	} ,
    	getSitelinksClasses : function ( page ) {
    		var me = this ;
    		let ret = 'list-group-item list-group-item-action' ;
    		let lang = page.site.replace ( /wiki$/ , '' ) ;
    		if ( $.inArray(lang,me.langs) != -1 ) ret += ' list-group-item-primary' ;
    		if ( $.inArray(lang,me.langs_present) != -1 ) ret += ' list-group-item-success' ;
    		return ret ;
    	} ,
    } ,
    template:'#aggregate-sitelinks-template'
} ) ;


let TopPage = Vue.extend ( {
    props : [ 'orig_type' , 'orig_langs' ] ,
    data : function () { return { mode:'top' , type:'labels' , type_label:'' , langs:[] , langs_present:[] , sort_by:'score' , max_results:50 , results:[] , status:'' , alt_labels:{} , has_run:false , sparql:'' , show_untranslatables:false , is_ready:false , wd_temp:{} , new_labels:{} , hide_header_in_game_mode:true } } ,
    created : function () {
    	var me = this ;
		let autorun = typeof me.$route.query.autorun != 'undefined' ;
    	if ( typeof me.orig_type != 'undefined' ) me.type = $.trim(me.orig_type.toLowerCase()) ;
    	if ( typeof me.orig_langs != 'undefined' ) me.langs = me.orig_langs.toLowerCase().replace(/\s/g,'').split(',') ;
    	if ( typeof me.$route.query.mode != 'undefined' ) me.mode = $.trim(me.$route.query.mode.toLowerCase()) ;
		if ( typeof me.$route.query.present != 'undefined' ) me.langs_present = me.$route.query.present.split(',') ;
		if ( typeof me.$route.query.sui != 'undefined' ) me.show_untranslatables = me.$route.query.sui*1>0 ;

    	$.each ( ['sort_by','sparql'] , function ( k , v ) {
    		if ( typeof me.$route.query[v] != 'undefined' ) Vue.set( me, v, me.$route.query[v] ) ;
    	} ) ;
    	me.updateWikidataObject() ;
    	me.updateURL() ;
    	me.type_label = tt.t(me.type)
    	setTimeout ( function () { me.type_label = tt.t(me.type) ; tt.updateInterface(me.$el) } , 500 ) ;
    	me.is_ready = true ;
    	if ( autorun ) me.runQuery() ;
    } ,
    updated : function () { tt.updateInterface(this.$el) } ,
    mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    	setLabel : function ( q , lang ) {
    		var me = this ;
    		let label = $.trim(me.new_labels[q][lang].label) ;
    		if ( label == '' ) return ;

    		$('#working').show() ;
    		widar.setLabelOrDescription ( me.type , q , lang , label , '' , 'terminator' , function ( d ) {
    			if ( d.error == 'OK' ) {
    				Vue.set ( me.new_labels[q][lang] , 'done' ,  true ) ;
    				if ( me.mode == 'game' && me.langs.length == 1 ) me.runQuery() ; // Auto-run again after setting the only label
	    		} else {
	    			alert ( "Something went wrong, check the error console for details" ) ;
	    			console.log ( d ) ;
    			}
	    		$('#working').hide() ;
    		} ) ;
    	} ,
    	updateWikidataObject : function () {
    		var me = this ;
	    	me.wd_temp = new WikiData() ;
	    	$.each ( me.langs , function ( dummy , lang ) {
	    		me.wd_temp.main_languages.unshift ( lang ) ;
	    	} ) ;
    	} ,
    	runQuery : function () {
    		var me = this ;
    		me.status = tt.t('status_getting_item_candidates');
    		me.has_run = false ;
    		me.results = [] ;
    		$('#working').show() ;
    		let params = {
				action:'run_query' ,
				type:me.type ,
				languages:me.langs.join(',') ,
				present:me.langs_present.join(',') ,
				sort_by:me.sort_by ,
				sparql:me.sparql ,
				sui:me.show_untranslatables?1:0 ,
				max_results:me.max_results ,
				mode:me.mode
			} ;
    		$.post ( './api.php' , params , function ( d ) {
    			if ( d.status == 'OK' ) {
//    				console.log ( JSON.parse(JSON.stringify(d)) ) ;
	    			if ( d.results.length == 0 ) {
	    				me.status = tt.t('status_no_results') ;
		    			$('#working').hide() ;
		    			me.has_run = true ;
	    			} else {
		    			me.results = d.results ;
		    			me.processResults() ;
		    		}
    			} else {
    				alert ( e.error ) ;
	    			$('#working').hide() ;
	    			me.has_run = true ;
    			}
    		} , 'json' ) ;
    	} ,
    	processResults : function () {
    		var me = this ;
    		let to_load = [] ;
    		me.status = tt.t('status_loading_item_info') ;
    		$.each ( me.results , function ( k , v ) {
    			to_load.push ( 'Q' + v.q ) ;
    			if ( typeof v.p31 != 'undefined' ) to_load.push ( 'Q' + v.p31 ) ;
    		} ) ;
    		me.wd_temp.getItemBatch ( to_load , function () {

    			me.alt_labels = {} ;
    			$.each ( me.results , function ( k , r ) {
    				let q = 'Q' + r.q ;
    				me.alt_labels[q] = {} ;
    				let i = me.wd_temp.getItem ( q ) ;
    				if ( typeof i == 'undefined' ) return ;

					$.each ( (i.raw.labels||{}) , function ( lang , v1 ) {
						let label = v1.value ;
						if ( typeof me.alt_labels[q][label] == 'undefined' ) me.alt_labels[q][label] = { label:label , count:2 } ;
						else me.alt_labels[q][label].count += 2 ;
					} ) ;
					$.each ( (i.raw.aliases||{}) , function ( lang , v1 ) {
						$.each ( v1 , function ( k2 , v2 ) {
							let label = v2.value ;
							if ( typeof me.alt_labels[q][label] == 'undefined' ) me.alt_labels[q][label] = { label:label , count:1 } ;
							else me.alt_labels[q][label].count += 1 ;
						} ) ;
					} ) ;

    			} ) ;
    			$.each ( me.alt_labels , function ( q , al ) {
    				me.alt_labels[q] = Object.values ( al ) ;
    				me.alt_labels[q].sort ( function(x, y) { return y.count - x.count } ) ;
    			} ) ;

    			$.each ( me.alt_labels , function ( q , dummy ) {
    				Vue.set ( me.new_labels , q , {} ) ;
	    			$.each ( me.langs , function ( k , l ) {
	    				let new_label = { label:'' , done:false } ;
	    				let i = me.wd_temp.getItem(q) ;
	    				if ( (me.type=='labels'||me.type=='descriptions') && typeof i!='undefined' && typeof i.raw!='undefined' ) {
	    					if ( typeof i.raw[me.type]!='undefined' && typeof i.raw[me.type][l]!='undefined' ) { // Label exists
	    						new_label.label = i.raw[me.type][l].value ;
	    						new_label.done = true ;
	    					} else if ( typeof i.raw.sitelinks!='undefined' && typeof i.raw.sitelinks[l+'wiki']!='undefined' ) {
	    						new_label.label = i.raw.sitelinks[l+'wiki'].title ;
	    					}

	    				}
	    				Vue.set ( me.new_labels[q] , l , new_label ) ;
	    			} ) ;
	    		} ) ;

				$('#working').hide() ;
				me.has_run = true ;
    			me.status = '' ;
    			if ( me.mode == 'game' ) {
    				setTimeout ( function () {
    					$($('input.game-input-box').get(0)).focus() ;
    				} , 200 ) ;
    			}
    		} , 'info|aliases|labels|descriptions|sitelinks' ) ;
    	} ,
    	updateURL : function () {
    		var me = this ;
    		let url = '/top' ;
    		url += '/' + me.type ;
    		if ( me.langs.length > 0 ) url += '/' + me.langs.join(',') ;
    		let params = [] ;
    		if ( me.mode != 'top' ) params.push ( 'mode='+me.mode ) ;
    		if ( me.sort_by != 'score' ) params.push ( 'sort_by='+me.sort_by ) ;
    		if ( me.max_results != '50' ) params.push ( 'max_results='+me.max_results ) ;
    		if ( me.sparql != '' ) params.push ( 'sparql='+encodeURIComponent(me.sparql) ) ;
    		if ( me.langs_present.length > 0 ) params.push ( 'present='+me.langs_present.join(',') ) ;
    		if ( me.show_untranslatables ) params.push ( 'sui=1' ) ;
    		if ( params.length > 0 ) url += "?" + params.join('&') ;
	    	me.$router.replace ( url );
    	} ,
    	addLanguage : function ( arr , event ) {
    		var me = this ;
    		arr.push ( event.code ) ;
    		me.updateURL() ;
    		me.updateWikidataObject() ;
    	} ,
    	removeLanguage : function ( arr , l ) {
    		var me = this ;
    		arr.splice(me.langs.indexOf(l),1) ;
    		me.updateURL() ;
    		me.updateWikidataObject() ;
    	} ,
    	onChangeStuff : function () {
    		var me = this ;
    		if ( me.mode == 'game' && me.results.length>0 ) me.results = [] ;
    		me.updateURL() ;
    	}
    } ,
    template:'#top-page-template'
} ) ;

</script>

